- <a href="<%=contextPath%>/project/<%=containerPath%>/begin.view?pageId=variants" >Variant Catalog Releases</a><br>
- <a href="<%=contextPath%>/project/<%=containerPath%>/begin.view?pageId=datasets" >Raw Sequence Data</a><br>
- <a href="<%=contextPath%>/mgap/<%=containerPath%>/dataProcessing.view" >Data Processing Strategy</a><br>
- <a href="<%=contextPath%>/mgap/<%=containerPath%>/annotation.view" >Annotation Strategy</a><br>
<p/>
We'd love to hear your feedback!  <a href="<%=contextPath%><%=containerPath%>/mgap-contact.view">Click here</a> to send a help or feature request, or email <a href="mailto:mgap@ohsu.edu">mgap@ohsu.edu</a> for any questions.