<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />
		
		<title>LabKey JavaScript API Reference - Class Index</title>
		<meta name="generator" content="JsDoc Toolkit" />
		
		<style type="text/css">
		{+include("static/default.css")+}
		</style>
		
		<script type="text/javascript">
		function checkForm()
		{
			var result = true;
			var ob = document.SearchReqForm.Term;
			var err = document.getElementById("errorTxt");
			err.innerHTML = '';
			if (ob.value == '')
			{
				err.innerHTML += "A search term is required.";
				result = false;
			}
				if(!result)
				document.getElementById("errorTxt").style.display = "block";
			return result;
		}

		function searchClientAPI()
		{
			if (!checkForm())
			   return;	
			window.location = 'http://www.google.com/search?hl=en&lr=&q=' + document.SearchReqForm.Term.value + '+site%3Ahttps%3A%2F%2Fwww.labkey.org%2Fdownload%2Fclientapi_docs%2Fjavascript-api%2F&btnG=Search&aq=f&oq=&aqi='
		}

		function checkEnter(e)
		{ 
			var keycode;
			if (window.event) {
				keycode = window.event.keyCode;
			}
			else if (e) {
				keycode = e.which;
			}
			else {
				return true;
			}

			if (keycode == 13)
			{
				searchClientAPI();
				return false;
			}
			else {
				return true;
			}
		}
	</script>			

	</head>
	
	<body>
		{+include("static/header.html")+}
		
		<div id="index">
			{+publish.classesIndex+}
		</div>
		
		<div id="content">
			<h1 class="classTitle">Class Index - v@@product.version@@</h1>
			
			<form name="SearchReqForm">
			<table cellspacing="0" cellpadding="5" border="0">
			<tr>
					<td colspan="2"><div id="errorTxt" style="display:none;color:red"></div></td>
			</tr>
			<tr>	
				<td valign="top"colspan="1"><input type="text" name="Term" size="60" onKeyPress='return checkEnter(event)'></td>
				<td valign="top"><input value='Search' type='button' onclick='searchClientAPI()'></td>
			</tr>
			</table>
			</form>		
			
			<for each="thisClass" in="data">
			<div>
				<h2>{+(new Link().toSymbol(thisClass.alias))+}</h2>
				{+resolveLinks(summarize(thisClass.classDesc))+}
			</div>
			<hr />
			</for>
			
		</div>
		<div class="fineprint" style="clear:both">
			<if test="JSDOC.opt.D.copyright">&copy;{+JSDOC.opt.D.copyright+}<br /></if>
			Documentation generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blankt">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}
		</div>
	</body>
</html>