<p>%(messageDesc)s</p>

<p><strong>%(buildMessage)s</strong></p>

<p>You can download the installers, builds and related files for this release from: </p>
<ul>
%(messageListItems)s
</ul>

<p>-The LabKey Developers</p>

<p><i>(Build Information: Build Date=%(buildDate)s, TeamCity Project=%(buildType)s)</i></p>
<p><strong>%(buildContentLink)s</strong></p>

<p><a href="https://www.labkey.org/Documentation/wiki-page.view?name=prevReleasesDetails&release=%(version)s">LabKey Release Details & Source Code</a>
<br><a href="https://github.com/LabKey/labkey-api-python">LabKey Python API - GitHub Repository</a></br></p>