<script language="javaScript">
function expandCollapse(id,showClassName){
    var imgId = 'img_'+ id;
    if(document.getElementById(id).className == 'hide1'){
       document.getElementById(id).className=showClassName;
       document.getElementById(imgId).src='https://www.labkey.org/_images/minus.gif';
       }
    else{
      document.getElementById(id).className='hide1';
      document.getElementById(imgId).src='https://www.labkey.org/_images/plus.gif';
     }
     }
</script>

<style type="text/css">
.hide1 {
    display:none;
}
.nohide1 {
    display:block;
}
</style>

<h3>The current official release of LabKey Server is %(version)s</h3>

<p><strong>%(buildMessage)s</strong></p>

<p>Information about the release and links to download the distribution files are below.</p>

<div style="display:block; margin-top:30px"></div>
<h3>Binaries and Installers </h3>
<table class="labkey-data-region labkey-show-borders">
    <colgroup>
        <col style="text-align:left"/>
        <col style="text-align:left"/>
        <col width="70" style="text-align:left"/>
    </colgroup>
    <tbody>
        <tr>
            <td class="labkey-data-region-header-container">Installer</td>
            <td class="labkey-data-region-header-container">Link</td>
            <td class="labkey-data-region-header-container">Size</td>
        </tr>
        %(wikiBinaryTableRows)s
    </tbody>
</table>
<div style="display:block; margin-top:30px"></div>
<h4>Build Information</h4>
<ul>
    <li>Build Date=%(buildDate)s </li>
    <li>TeamCity Project=%(buildType)s</li>
</ul>

</div>

<div style="display:block; margin-top:30px"></div>
<div id="seeMoreRelNotes" style="display:block;">
<a href="javascript:expandCollapse('relNotes','nohide1');">
    <img style="padding-top:4px;padding-right:5px" class="expandIcon" border="0" align="left" id="img_relNotes" src="https://www.labkey.org/_images/plus.gif"> 
</a>
<h3>Release Notes and Documentation</h3>
</div>
<br style="clear:both">
<div id="relNotes" style="margin-top:-20px" class="hide1">
<ul class="minus">
    <li><a href="https://www.labkey.org/Project/home/Documentation/begin.view?">General Documentation</a></li>
    <li><a href="%(releaseNotes)s">Release Notes</a></li>
    <li><a href="%(whatsNew)s">What's New</a></li>
</ul>
</div>

<div style="display:block; margin-top:30px"></div>
<div id="seeMore" style="display:block;">
<a href="javascript:expandCollapse('moreInformation','nohide1');">
    <img style="padding-top:4px;padding-right:5px" class="expandIcon" border="0" align="left" id="img_moreInformation" src="https://www.labkey.org/_images/plus.gif"> 
</a>
<h3>Related Products, Source Code and Previous Releases</h3>
</div>
<br style="clear:both">
<div id="moreInformation" style="margin-top:-10px" class="hide1">
<h4 style="margin-bottom:10px;">Toolkits, APIs and files</h4>
<table class="labkey-data-region labkey-show-borders">
    <colgroup>
        <col style="text-align:left"/>
        <col style="text-align:left"/>
        <col width="70" style="text-align:left"/>
    </colgroup>
    <tbody>
        <tr>
            <td class="labkey-data-region-header-container">File</td>
            <td class="labkey-data-region-header-container">Link</td>
            <td class="labkey-data-region-header-container">Size</td>
        </tr>
        %(wikiRelatedTableRows)s
    </tbody>
</table>

<div style="display:block; margin-top:30px"></div>

<h4>LabKey Server Source Code</h4>

<p><a href="https://www.labkey.org/Documentation/wiki-page.view?name=prevReleasesDetails&release=%(version)s">LabKey Release Details & Source Code</a>
<br><a href="https://github.com/LabKey/labkey-api-python">LabKey Python API - GitHub Repository</a></br></p>

<div style="display:block; margin-top:30px"></div>
<h4>Previous Releases</h4>

<p>You can find links to previous releases on your <a href="%(slashContextPath)s/announcements/%(buildInfoRoot)s%(project)s/%(folder)s/begin.view?">downloads message board</a>.</p>

<div style="display:block; margin-top:30px"></div>
<h4>Build Information</h4>
<ul>
  <li>Build Date=%(buildDate)s </li>
  <li>TeamCity Project=%(buildType)s</li>
</ul>

</div>
<p><strong>%(buildContentLink)s</strong></p>