<script type="text/javascript">

    Ext4.onReady(function (){
        var project = LABKEY.ActionURL.getParameter('project') || LABKEY.ActionURL.getParameter('key');
        if (!project){
            alert('Must Provide Project Number');
            return;
        }

        var webpart = <%=webpartContext%>;
        var domSpec = [{
            tag: 'div',
            style: 'padding-bottom: 10px;',
            id: 'projectAssignments_' + webpart.wrapperDivId
        }]

        var el = Ext4.get(webpart.wrapperDivId);
        Ext4.DomHelper.append(el, domSpec);

        new LABKEY.QueryWebPart({
            title: 'Animals By Project',
            schemaName: 'study',
            queryName: 'assignment',
            viewName: 'Animals By Project',
            dataRegionName: 'query',
            allowChooseQuery: false,
            allowChooseView: true,
            showInsertNewButton: false,
            showDeleteButton: false,
            showDetailsColumn: true,
            showUpdateColumn: false,
            showRecordSelectors: true,
            buttonBarPosition: 'top',
            filters: [LABKEY.Filter.create('projectCode', project, LABKEY.Filter.Types.EQUAL)],
            sort: '-Date',
            scope: this,
            failure: EHR.Utils.onError
        }).render('projectAssignments_' + webpart.wrapperDivId);
    });

</script>