<html>
<head>
<script type="text/javascript">
LABKEY.Utils.requiresScript("oconnor/oconnorAlabrityConfig.js");
</script>
<script type="text/javascript">
LABKEY.Utils.requiresScript("oconnor/oconnorFreezerCommon.js");
</script>
<script type="text/javascript">
LABKEY.Utils.requiresScript("oconnor/inventoryDrawCellsLayout.js");
</script>
<script type="text/javascript">
Ext.onReady(function(){

//add custom button to add specimens to inventory
var pageButtons = [{text: 'Add new cell lines', requiresSelection: false, handler: addRecord},
{text: 'Batch edit', requiresSelection: true, handler: editRecord}];
createGrid(dbSchemaName, 'inventory', 'cells_available', 'Inventory', 'a', 'b',pageButtons);

//we will run one function to draw the form panel with specimen information. the same form panel can be used to add new samples or batch edit existing samples. 
//we will render the form panel the same way for the add new specimen and modify specimen buttons, but will call different handlers for the different button presses ('add' for new records, 'edit' to batch edit - from freezerCommon.js)

function addRecord()
{			
//draw specimen. calls drawSpecimen function from external file

var theFormPanel = layoutForm(); //save form panel to theFormPanel

//change status message to be specific to this action

theFormPanel.findById('current_status').html = 'Ready to add in vitro cell line...'

//add buttons that are specific to this function. add the button by running ext addButton method

var buttons = [{xtype: 'button',
					text:'Submit',
					disabled:false,
					formBind: true,
					ref: '../submit',
					scope: this,
					handler: function()
						{
						
					//get values to load into labkey. set status and sample_type manually
					var labkeyRowData = {"specimen_id":theFormPanel.getForm().getValues().specimen_id,
					"sample_date":theFormPanel.getForm().getValues().sample_date,
					"comments":theFormPanel.getForm().getValues().comments,
					"cell_type":theFormPanel.getForm().getValues().cell_type,
					"cell_freeze_date":theFormPanel.getForm().getValues().cell_freeze_date,
					"cell_source":theFormPanel.getForm().getValues().cell_source,
					"cell_concentration":theFormPanel.getForm().getValues().cell_concentration,
					"cell_mhc_restriction":theFormPanel.getForm().getValues().cell_mhc_restriction,
					"cell_peptide_stimulation":theFormPanel.getForm().getValues().cell_peptide_stimulation,
					"cell_passage_number":theFormPanel.getForm().getValues().cell_passage_number,
					"cell_transforming_virus":theFormPanel.getForm().getValues().cell_transforming_virus,
					"specimen_species":theFormPanel.getForm().getValues().specimen_species,
					"specimen_geographic_origin":theFormPanel.getForm().getValues().specimen_geographic_origin,
					"specimen_collaborator":theFormPanel.getForm().getValues().specimen_collaborator,
					"specimen_quantity":theFormPanel.getForm().getValues().specimen_quantity,
					"specimen_additive":theFormPanel.getForm().getValues().specimen_additive,
					"initials":theFormPanel.getForm().getValues().initials,
					"experiment":theFormPanel.getForm().getValues().experiment,
					"sample_number":theFormPanel.getForm().getValues().sample_number,
					"freezer":theFormPanel.getForm().getValues().freezer,
					"cane":theFormPanel.getForm().getValues().cane,
					"box":theFormPanel.getForm().getValues().box,
					"box_row":theFormPanel.getForm().getValues().box_row,
					"box_column":theFormPanel.getForm().getValues().box_column,
					"coordinate":theFormPanel.getForm().getValues().coordinate,
					"status":"available",
					"sample_type":"in vitro cells"};
					
					//submit to LABKEY. need to call first item from labkeyRowData array
					LABKEY.Query.insertRows({
						schemaName: dbSchemaName,
						queryName: 'inventory',
						rows: [labkeyRowData],
						successCallback: function(){
							//update html of status update box
							Ext.getCmp('current_status').update('Cell line from '+ theFormPanel.getForm().getValues().specimen_id + ' successfully added to freezer ' + theFormPanel.getForm().getValues().freezer + '; cane ' + theFormPanel.getForm().getValues().cane + '; box ' + theFormPanel.getForm().getValues().box + '; row ' + theFormPanel.getForm().getValues().box_row + '; column ' + theFormPanel.getForm().getValues().box_column +'; coordinate ' + theFormPanel.getForm().getValues().coordinate + '. Thank you for your ongoing responsibility.');
							}	
						});	
	
						}
					},	
						
					{xtype: 'button',
					text:'Cancel',
					disabled:false,
					formBind: false,
					ref: '../submit',
					scope: this,
					handler: function(){
						theWindow.close()
						}
					}];
					
theFormPanel.addButton(buttons); //add button to form panel

//create window to hold form panel
//put buttons in window - this lets me call theFormPanel methods to work with form data
		var theWindow = new Ext.Window({
				title: 'Add new cell lines',
				width: 800,
				closable: true,
				bodyStyle: 'background-color:#fff;padding: 10px',
				items: theFormPanel
				});
		
//display form panel		
			theWindow.show();
			
};

function editRecord(dataRegion, dataRegionName){

//get primary key of checked rows
var checkedRows = dataRegion.getChecked();

//draw specimen. calls drawSpecimen function from external file

var theFormPanel = layoutForm(); //save form panel to theFormPanel

//change status message to be specific to this action

theFormPanel.findById('current_status').html = 'Make batch edits to selected cell lines. Be sure you know what you are doing.'

//change monitorValid on the form to false. this is only needed to ensure required fields are entered when new records are created

theFormPanel.monitorValid = false;

//add buttons that are specific to this function. add the button by running ext addButton method

var buttons = [{xtype: 'button',
					text:'Submit',
					disabled:false,
					formBind: true,
					ref: '../submit',
					scope: this,
					handler: function()
						{
						
					//get values to load into labkey from form
					var labkeyRowData = {"specimen_id":theFormPanel.getForm().getValues().specimen_id,
					"sample_date":theFormPanel.getForm().getValues().sample_date,
					"comments":theFormPanel.getForm().getValues().comments,
					"cell_type":theFormPanel.getForm().getValues().cell_type,
					"cell_freeze_date":theFormPanel.getForm().getValues().cell_freeze_date,
					"cell_source":theFormPanel.getForm().getValues().cell_source,
					"cell_concentration":theFormPanel.getForm().getValues().cell_concentration,
					"cell_mhc_restriction":theFormPanel.getForm().getValues().cell_mhc_restriction,
					"cell_peptide_stimulation":theFormPanel.getForm().getValues().cell_peptide_stimulation,
					"cell_passage_number":theFormPanel.getForm().getValues().cell_passage_number,
					"cell_transforming_virus":theFormPanel.getForm().getValues().cell_transforming_virus,
					"specimen_species":theFormPanel.getForm().getValues().specimen_species,
					"specimen_geographic_origin":theFormPanel.getForm().getValues().specimen_geographic_origin,
					"specimen_collaborator":theFormPanel.getForm().getValues().specimen_collaborator,
					"specimen_quantity":theFormPanel.getForm().getValues().specimen_quantity,
					"specimen_additive":theFormPanel.getForm().getValues().specimen_additive,
					"initials":theFormPanel.getForm().getValues().initials,
					"experiment":theFormPanel.getForm().getValues().experiment,
					"sample_number":theFormPanel.getForm().getValues().sample_number,
					"freezer":theFormPanel.getForm().getValues().freezer,
					"cane":theFormPanel.getForm().getValues().cane,
					"box":theFormPanel.getForm().getValues().box,
					"box_row":theFormPanel.getForm().getValues().box_row,
					"box_column":theFormPanel.getForm().getValues().box_column,
					"coordinate":theFormPanel.getForm().getValues().coordinate};
					
					//delete fields that are blank so these are not updated
					
					if (labkeyRowData.specimen_id===''){ delete labkeyRowData.specimen_id};
					if (labkeyRowData.sample_date===''){ delete labkeyRowData.sample_date};
					if (labkeyRowData.comments===''){ delete labkeyRowData.comments};
					if (labkeyRowData.cell_type===''){ delete labkeyRowData.cell_type};
					if (labkeyRowData.cell_freeze_date===''){ delete labkeyRowData.cell_freeze_date};
					if (labkeyRowData.cell_source===''){ delete labkeyRowData.cell_source};
					if (labkeyRowData.cell_concentration===''){ delete labkeyRowData.cell_concentration};
					if (labkeyRowData.cell_mhc_restriction===''){ delete labkeyRowData.cell_mhc_restriction};
					if (labkeyRowData.cell_peptide_stimulation===''){ delete labkeyRowData.cell_peptide_stimulation};
					if (labkeyRowData.cell_passage_number===''){ delete labkeyRowData.cell_passage_number};
					if (labkeyRowData.cell_transforming_virus===''){ delete labkeyRowData.cell_transforming_virus};
					if (labkeyRowData.specimen_species===''){ delete labkeyRowData.specimen_species};
					if (labkeyRowData.specimen_geographic_origin===''){ delete labkeyRowData.specimen_geographic_origin};
					if (labkeyRowData.specimen_collaborator===''){ delete labkeyRowData.specimen_collaborator};
					if (labkeyRowData.specimen_quantity===''){ delete labkeyRowData.specimen_quantity};
					if (labkeyRowData.specimen_additive===''){ delete labkeyRowData.specimen_additive};
					if (labkeyRowData.initials===''){ delete labkeyRowData.initials};
					if (labkeyRowData.experiment===''){ delete labkeyRowData.experiment};
					if (labkeyRowData.sample_number===''){ delete labkeyRowData.sample_number};
					if (labkeyRowData.freezer===''){ delete labkeyRowData.freezer};
					if (labkeyRowData.cane===''){ delete labkeyRowData.cane};
					if (labkeyRowData.box===''){ delete labkeyRowData.box};					
					if (labkeyRowData.box_row===''){ delete labkeyRowData.box_row};					
					if (labkeyRowData.box_column===''){ delete labkeyRowData.box_column};
					if (labkeyRowData.coordinate===''){ delete labkeyRowData.coordinate};
					
					//iterate through checked records and add key to labkeyRowData. then update row in labkey
					
					for (i=0; i<checkedRows.length; i++){
					labkeyRowData.key = checkedRows[i];
					
					//submit to LABKEY. need to call first item from labkeyRowData array
					LABKEY.Query.updateRows({
					schemaName: dbSchemaName,
					queryName: 'inventory',
					rows: [labkeyRowData],
					successCallback: function(){
 							//update html of status update box
							Ext.getCmp('current_status').update(checkedRows.length + ' cell lines successfully batch updated.');
							}	
						});	
					};
						}
					},	
						
					{xtype: 'button',
					text:'Cancel',
					disabled:false,
					formBind: false,
					ref: '../submit',
					scope: this,
					handler: function(){
						theWindow.close()
						}
					}];
					
theFormPanel.addButton(buttons); //add button to form panel

//create window to hold form panel
//put buttons in window - this lets me call theFormPanel methods to work with form data
		var theWindow = new Ext.Window({
				title: 'Batch edit cell lines',
				width: 800,
				closable: true,
				bodyStyle: 'background-color:#fff;padding: 10px',
				items: theFormPanel
				});
		
//display form panel		
			theWindow.show();
};

});
</script>

</head>
<body>

<div id="a"></div>

</body>
</html>