<div id="a"></div>
<script type="text/javascript">

    // called once Ext is ready
    var initSpecimenAvailable = function() {

        // we will run one function to draw the form panel with specimen information. the same form panel can be used to add new samples or batch edit existing samples.
        // we will render the form panel the same way for the add new specimen and modify specimen buttons, but will call different handlers for the different button presses ('add' for new records, 'edit' to batch edit - from freezerCommon.js)
        var addRecord = function()
        {
            //draw specimen. calls drawSpecimen function from external file
            var theFormPanel = layoutForm(); //save form panel to theFormPanel

            //change status message to be specific to this action
            theFormPanel.findById('current_status').html = 'Ready to add specimen to inventory...';

            // add buttons that are specific to this function. add the button by running ext addButton method
            var buttons = [{
                xtype: 'button',
                text:'Submit',
                disabled:false,
                formBind: true,
                ref: '../submit',
                scope: this,
                handler: function() {

                    // stash the form values (helps with a bunch of expensive operations)
                    var formValues = theFormPanel.getForm().getValues();

                    // get values to load into labkey. set status manually
                    var labkeyRowData = {
                        "specimen_id":formValues.specimen_id,
                        "sample_date":formValues.sample_date,
                        "comments":formValues.comments,
                        "specimen_type":formValues.specimen_type,
                        "specimen_species":formValues.specimen_species,
                        "cell_type":formValues.cell_type,
                        "specimen_geographic_origin":formValues.specimen_geographic_origin,
                        "specimen_collaborator":formValues.specimen_collaborator,
                        "specimen_quantity":formValues.specimen_quantity,
                        "specimen_additive":formValues.specimen_additive,
                        "initials":formValues.initials,
                        "gs_id":formValues.gs_id,
                        "cohort_id":formValues.cohort_id,
                        "experiment":formValues.experiment,
                        "sample_number":formValues.sample_number,
                        "freezer":formValues.freezer,
                        "cane":formValues.cane,
                        "box":formValues.box,
                        "box_row":formValues.box_row,
                        "box_column":formValues.box_column,
                        "coordinate":formValues.coordinate,
                        "status":"available",
                        "sample_type":"specimen"
                    };

                    //submit to LABKEY. need to call first item from labkeyRowData array
                    LABKEY.Query.insertRows({
                        schemaName: dbSchemaName,
                        queryName: 'inventory',
                        rows: [labkeyRowData],
                        success: function(){
                            //update html of status update box
                            Ext.getCmp('current_status').update('Specimen from '+ formValues.specimen_id + ' successfully added to freezer ' + formValues.freezer + '; cane ' + formValues.cane + '; box ' + formValues.box + '; row ' + formValues.box_row + '; column ' + formValues.box_column +'; coordinate ' + formValues.coordinate + '. Thank you for your ongoing responsibility.');
                        }
                    });
                }
            },{
                xtype: 'button',
                text: 'Cancel',
                disabled: false,
                formBind: false,
                ref: '../submit',
                scope: this,
                handler: function(){ theWindow.close() }
            }];

            // add button to form panel
            theFormPanel.addButton(buttons);

            // create window to hold form panel
            // put buttons in window - this lets me call theFormPanel methods to work with form data
            var theWindow = new Ext.Window({
                title: 'Add new specimens',
                width: 800,
                closable: true,
                bodyStyle: 'background-color:#fff;padding: 10px',
                items: theFormPanel
            });

            // display form panel
            theWindow.show();
        };

        var editRecord = function(dataRegion, dataRegionName)
        {
            // get primary key of checked rows
            var checkedRows = dataRegion.getChecked();

            // draw specimen. calls drawSpecimen function from external file
            var theFormPanel = layoutForm(); //save form panel to theFormPanel

            // change status message to be specific to this action
            theFormPanel.findById('current_status').html = 'Make batch edits to selected samples. Be sure you know what you are doing.';

            // change monitorValid on the form to false. this is only needed to ensure required fields are entered when new records are created
            theFormPanel.monitorValid = false;

            // add buttons that are specific to this function. add the button by running ext addButton method
            var buttons = [{
                xtype: 'button',
                text:'Submit',
                disabled:false,
                formBind: true,
                ref: '../submit',
                scope: this,
                handler: function()
                {
                    // stash the form values (helps with a bunch of expensive operations)
                    var formValues = theFormPanel.getForm().getValues();

                    //get values to load into labkey from form
                    var labkeyRowData = {
                        "specimen_id":formValues.specimen_id,
                        "sample_date":formValues.sample_date,
                        "comments":formValues.comments,
                        "specimen_type":formValues.specimen_type,
                        "specimen_species":formValues.specimen_species,
                        "cell_type":formValues.cell_type,
                        "specimen_geographic_origin":formValues.specimen_geographic_origin,
                        "specimen_collaborator":formValues.specimen_collaborator,
                        "specimen_quantity":formValues.specimen_quantity,
                        "specimen_additive":formValues.specimen_additive,
                        "initials":formValues.initials,
                        "gs_id":formValues.gs_id,
                        "cohort_id":formValues.cohort_id,
                        "experiment":formValues.experiment,
                        "sample_number":formValues.sample_number,
                        "freezer":formValues.freezer,
                        "cane":formValues.cane,
                        "box":formValues.box,
                        "box_row":formValues.box_row,
                        "box_column":formValues.box_column,
                        "coordinate":formValues.coordinate,
                        //TODO: we need to look at injecting these into the backend when the schema is created.
                        "status":"available",
                        "sample_type":"specimen"
                    };

                    // delete fields that are blank so these are not updated
                    if (labkeyRowData.specimen_id===''){ delete labkeyRowData.specimen_id}
                    if (labkeyRowData.sample_date===''){ delete labkeyRowData.sample_date}
                    if (labkeyRowData.comments===''){ delete labkeyRowData.comments}
                    if (labkeyRowData.specimen_type===''){ delete labkeyRowData.specimen_type}
                    if (labkeyRowData.specimen_species===''){ delete labkeyRowData.specimen_species}
                    if (labkeyRowData.cell_type===''){ delete labkeyRowData.cell_type}
                    if (labkeyRowData.specimen_geographic_origin===''){ delete labkeyRowData.specimen_geographic_origin}
                    if (labkeyRowData.specimen_collaborator===''){ delete labkeyRowData.specimen_collaborator}
                    if (labkeyRowData.specimen_quantity===''){ delete labkeyRowData.specimen_quantity}
                    if (labkeyRowData.specimen_additive===''){ delete labkeyRowData.specimen_additive}
                    if (labkeyRowData.initials===''){ delete labkeyRowData.initials}
                    if (labkeyRowData.gs_id===''){ delete labkeyRowData.gs_id}
                    if (labkeyRowData.cohort_id===''){ delete labkeyRowData.cohort_id}
                    if (labkeyRowData.experiment===''){ delete labkeyRowData.experiment}
                    if (labkeyRowData.sample_number===''){ delete labkeyRowData.sample_number}
                    if (labkeyRowData.freezer===''){ delete labkeyRowData.freezer}
                    if (labkeyRowData.cane===''){ delete labkeyRowData.cane}
                    if (labkeyRowData.box===''){ delete labkeyRowData.box}
                    if (labkeyRowData.box_row===''){ delete labkeyRowData.box_row}
                    if (labkeyRowData.box_column===''){ delete labkeyRowData.box_column}
                    if (labkeyRowData.coordinate===''){ delete labkeyRowData.coordinate}

                    // iterate through checked records and add key to labkeyRowData. then update row in labkey
                    for (var i=0; i<checkedRows.length; i++){
                        labkeyRowData.key = checkedRows[i];

                        //submit to LABKEY. need to call first item from labkeyRowData array
                        LABKEY.Query.updateRows({
                            schemaName: dbSchemaName,
                            queryName: 'inventory',
                            rows: [labkeyRowData],
                            success: function(){
                                //update html of status update box
                                Ext.getCmp('current_status').update(checkedRows.length + ' specimens successfully batch updated.');
                            }
                        });
                    }
                }
            },{
                xtype: 'button',
                text:'Cancel',
                disabled:false,
                formBind: false,
                ref: '../submit',
                scope: this,
                handler: function(){
                    theWindow.close()
                }
            }];

            theFormPanel.addButton(buttons); //add button to form panel

            // create window to hold form panel
            // put buttons in window - this lets me call theFormPanel methods to work with form data
            var theWindow = new Ext.Window({
                title: 'Batch edit specimens',
                width: 800,
                closable: true,
                bodyStyle: 'background-color:#fff;padding: 10px',
                items: theFormPanel
            });

            // display form panel
            theWindow.show();
        };

        //add custom button to add specimens to inventory
        var pageButtons = [
            {text: 'Add new specimens', requiresSelection: false, handler: addRecord},
            {text: 'Batch edit', requiresSelection: true, handler: editRecord}
        ];

        createGrid(dbSchemaName, 'inventory', 'specimen_available', 'Inventory', 'a', 'b', pageButtons);
    };

    LABKEY.requiresExt3ClientAPI(function() {
        LABKEY.requiresScript([
            "oconnor/oconnorAlabrityConfig.js",
            "oconnor/oconnorFreezerCommon.js",
            "oconnor/inventoryDrawSpecimenLayout.js"
        ], function() {

            Ext.onReady(initSpecimenAvailable);

        });
    });
</script>
