<html>
<head>
</head>

<body>
<div style="text-align: justify;">
<ul>
<li><span style="font-size: small;"><strong>Add samples to inventory</strong>:</span></li>
<ul>
<li><span class="Apple-style-span" style="font-size: small;"><strong>&nbsp;<a href="<%=contextPath%>/oconnor/inventory_sample_sheet-2011-11-30.xlsx">download Excel template</a></strong>. Fill out and return to your freezer manager.</span></li>
</ul>
</ul>
<ul>
<li><span style="font-size: small;"><span style="font-size: small;"><strong>Search available</strong>:</span></span>
<ul>
<li><span class="Apple-style-span" style="font-size: small;"><a id="all_samples" href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=inventory&amp;query.viewName=all_samples"><strong>all available samples</strong></a></span></li>
<li><span class="Apple-style-span" style="font-size: small;"><strong><a title="available specimens" href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=inventory&amp;query.viewName=specimen_available">specimens</a></strong></span></li>
<li><span class="Apple-style-span" style="font-size: small;"><strong><a title="available nucleic acid samples" href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=inventory&amp;query.viewName=clinical_nucacid_available">DNA/RNA isolated from clinical samples</a></strong></span></li>
<li><span class="Apple-style-span" style="font-size: small;"><a title="plasmid vectors" href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=inventory&amp;query.viewName=dna_available"><strong>plasmid vectors</strong></a></span></li>
<li><span class="Apple-style-span" style="font-size: small;"><strong><a title="cell lines" href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=inventory&amp;query.viewName=cells_available">cell lines</a></strong></span></li>
<li><span class="Apple-style-span" style="font-size: small;"><a title="available oligonucleotides" href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=inventory&amp;query.viewName=oligo_available"><strong>oligonucleotides</strong></a></span></li>
<li><span class="Apple-style-span" style="font-size: small;"><strong><a title="available virus stocks" href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=inventory&amp;query.viewName=virus_available">virus stocks</a></strong></span></li>
</ul>
</li>
</ul>
<ul>
<li><span style="font-size: small;"><strong>Search removed</strong>: click to see&nbsp;<strong><a title="removed samples" href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=inventory_removed">samples that have been removed</a>&nbsp;</strong>from the inventory</span></li>
</ul>
<ul>
<li><span class="Apple-style-span" style="font-size: small;"><strong>Data integrity</strong>: add and edit allowable values in validated fields</span></li>
</ul>
<ul>
<ul>
<li><span style="font-size: small;"><strong><a href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=all_species">all species</a></strong></span></li>
<li><span style="font-size: small;"><strong><a href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=all_specimens">all specimens</a></strong></span></li>
<li><span style="font-size: small;"><strong><a href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=availability">availability</a></strong></span></li>
<li><span style="font-size: small;"><strong><a href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=cell_type">cell type</a></strong></span></li>
<li><span style="font-size: small;"><strong><a href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=dna_type">dna type</a></strong></span></li>
<li><span style="font-size: small;"><strong><a href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=freezer_id">freezer</a></strong></span></li>
<li><span style="font-size: small;"><strong><a href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=laboratory">laboratory</a></strong></span></li>
<li><span style="font-size: small;"><strong><a href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=oligo_purification">oligo purification</a></strong></span></li>
<li><span style="font-size: small;"><strong><a href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=oligo_type">oligo type</a></strong></span></li>
<li><span style="font-size: small;"><strong><a href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=sample_type">sample type</a></strong></span></li>
<li><span style="font-size: small;"><strong><a href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=specimen_additive">specimen additive</a></strong></span></li>
<li><span style="font-size: small;"><strong><a href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=specimen_collaborator">specimen collaborator</a></strong></span></li>
<li><span style="font-size: small;"><strong><a href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=specimen_geographic_origin">specimen geographic origin</a></strong></span></li>
<li><span style="font-size: small;"><strong><a href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=specimen_institution">specimen institution</a></strong></span></li>
<li><span style="font-size: small;"><strong><a href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=specimen_species">specimen species</a></strong></span></li>
<li><span style="font-size: small;"><strong><a href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=specimen_type">specimen type</a></strong></span></li>
<li><span style="font-size: small;"><strong><a href="<%=contextPath%>/query<%=containerPath%>/executeQuery.view?schemaName=oconnor&amp;query.queryName=virus_strain">virus strain</a></strong></span></li>
</ul>
</ul>
<span style="font-size: x-small;" data-mce-style="font-size: x-small;"><span style="font-size: x-small;" data-mce-style="font-size: x-small;"></span></span><hr /><span style="font-size: x-small;"><em>Labkey inventory module v.2.0 by David O'Connor. Last updated 2011-07-22</em></span></div>
</body>
</html>