This page provides a simplified interface to the LabKey Flow module, with increased emphasis on capture of sample attributes.  Data intended to be used with the Laboratory module should be imported using this route.
<ol>
    <li>
        <b>Import FCS Files and Metadata</b><br>
            XX Files have been imported<br>
            <a href="">Select files to import, or upload new files</a><br>
            <a href="">Apply metadata to previously imported files</a><br>
            <br>
    </li>
    <li>
        <b>Create or Import Analysis</b><br>
        <i>An analysis script tells LabKey Flow how to calculate the compensation matrix, what gates to apply, statistics to calculate, and graphs to draw.</i><br>
        <a href="flow-editscript">Import Existing, such as FlowJo workspace</a><br>
        <a href="flow-editscript">Create New (advanced)</a><br>
    </li>
</ol>
