 .protein-coverage-map, .protein-coverage-map table  {
    border-collapse: collapse;
    padding: 0;
}

.sequence-row, .sequence-row tr  {
    font-size: 10pt;
}

.sequence-row td  {
    border-top: 1px solid #000000;
    padding-top: 0;
    text-align: center;
    vertical-align: top;
    font-family:"Courier New", monospace;
    font-size: 10pt;
}

.tenth-col, .tenth-col td {
    border-right: 1px dotted gray;
}

.address-row td {
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    background: #e3e3e3;
    height: 10px;
    font-size: 6pt;
    text-align: left;
}

 .protein-coverage-map tr
 {
     border-left: 1px solid black;
     border-right: 1px solid black;
 }

.protein-coverage-map .spacer-row tr, .spacer-row td {
    height: 10px;
    border-top: 1px solid #000000;
}

.first-peptide-row tr, .first-peptide-row td {
    height: 1em;
}

.peptide-marker, .peptide-marker td {
    text-align: center;
    border: 1px solid #000000;
    background-color: #ccccff;
    font-size: 8pt;
    veritcal-align: bottom;
}
.peptide-marker-multiple, .peptide-marker-multiple td {
     text-align: center;
     border: 1px solid #000000;
     background-color: #cc99ff;
     font-size: 8pt;
     veritcal-align: bottom;
 }