option.html.addMarkOfTheWeb=true
xml.closeOnFinish=false
xml.files.1=http\://www.w3.org/2001/XMLSchema.xsd
xml.files.2=../demo/HumanEvolution.xsd
xml.launchViewer=true
xml.outputDir=../out
xml.outputFormat=HTML
xml.template.1=../templates/XSDDoc/FramedDoc.tpl
xml.template.2=../templates/XSDDoc/PlainDoc.tpl
xml.template.3=../templates/XMLDoc/PlainDoc.tpl
xml.template.4=../templates/XMLDoc/FramedDoc.tpl
