<script type="text/javascript">

    Ext4.onReady(function(){
        var webpart = <%=webpartContext%>;

        var childEl = jQuery('#' + webpart.wrapperDivId + ' > div.wp');
        childEl.attr('id', webpart.wrapperDivId + '-wp');
        LDK.Utils.getReadOnlyQWP({
            frame: 'none',
            title: 'mGAP Datasets',
            schemaName: 'mgap',
            queryName: 'sequenceDatasets',
            maxRows: 50,
            buttonBarConfig: {

            }
        }).render(childEl.attr('id'));
    });

</script>

All sequence and variant data generated through mGAP are publicaly available.  Due to the large file size, we upload data to the <a href="https://www.ncbi.nlm.nih.gov/sra/" target="_blank">NCBI SRA</a> databases and provide accession numbers through mGAP.  <a href="https://www.ncbi.nlm.nih.gov/books/NBK242621/" target="_blank">Click here to view instructions on downloading data from SRA</a>.  The table below displays a list of all datasets currently available through mGAP, with basic animal information and SRA accessions.  Note: you can hit the 'export' button to export this to excel, or click any of the column headers to filter the data.
<p/>
<div class="wp"></div>